<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Health-Insurance-Jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.ProfileViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PolicyViewServlet</display-name>
    <servlet-name>PolicyViewServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.PolicyViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PolicyViewServlet</servlet-name>
    <url-pattern>/PolicyView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FamilyDetailsViewServlet</display-name>
    <servlet-name>FamilyDetailsViewServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.FamilyDetailsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamilyDetailsViewServlet</servlet-name>
    <url-pattern>/FamilyDetailsView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyPoliciesViewServlet</display-name>
    <servlet-name>CompanyPoliciesViewServlet</servlet-name>
    <servlet-class>com.healthInsurance.controller.CompanyInsurPoliciesViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyPoliciesViewServlet</servlet-name>
    <url-pattern>/CompanyPoliciesView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsurancePolicyApply</display-name>
    <servlet-name>InsurancePolicyApply</servlet-name>
    <servlet-class>com.healthInsurance.controller.InsurancePolicyApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsurancePolicyApply</servlet-name>
    <url-pattern>/InsurancePolicyApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FamilyDetailsInsert</display-name>
    <servlet-name>FamilyDetailsInsert</servlet-name>
    <servlet-class>com.healthInsurance.controller.FamilyDetailsInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamilyDetailsInsert</servlet-name>
    <url-pattern>/FamilyDetailsInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateMonthlyPremium</display-name>
    <servlet-name>CalculateMonthlyPremium</servlet-name>
    <servlet-class>com.healthInsurance.controller.CalculateMonthlyPremium</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateMonthlyPremium</servlet-name>
    <url-pattern>/CalculateMonthlyPremium</url-pattern>
  </servlet-mapping>
</web-app>